[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "iterm"]
	path = iterm
	url = https://github.com/catppuccin/iterm
[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
